<nav class="navbar navbar-expand-lg bg-body-tertiary header_cus" ng-controller="headerCtrl">
    <div class="container-fluid">
        <a class="navbar-brand me-auto d-flex ju align-items-center gap-2" href="#">
            <img src="assets/img/logo.svg" class="logo_vip" width="50" alt="">
            <span class="fw-bold">EASY</span>
        </a>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Danh mục</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 pe-3" ng-controller="activeLinkCtrl">
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 navlink_cus"  href="#!home">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 navlink_cus"  href="#!about">Giới thiệu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 navlink_cus"  href="#!khoahoc">Khóa học</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 navlink_cus"  href="#!contact">Liên hệ & góp
                            ý</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-lg-2 navlink_cus"  href="#!hoidap">Hỏi đáp</a>
                    </li>
                </ul>
            </div>

        </div>
        <div>
            <li class="dropdown ms-2 d-inline-block position-static">
                <a class="rounded-circle" href="#" data-bs-toggle="dropdown" data-bs-display="static"
                    aria-expanded="false">
                    <div class="avatar avatar-md avatar-indicators avatar-online">
                        <img alt="avatar" src="https://ui-avatars.com/api/?background=random&name=vu+do"
                            class="rounded-circle">
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-end position-absolute mx-3 my-5">
                    <div class="dropdown-item">
                        <div class="d-flex">
                            <div class="avatar avatar-md avatar-indicators avatar-online">
                                <img alt="avatar" src="https://ui-avatars.com/api/?background=random&name=vu+do"
                                    class="rounded-circle">
                            </div>
                            <div class="ms-3 lh-1">
                                <h5 class="mb-1">Vũ Đỗ</h5>
                                <p class="mb-0 text-muted">vudo@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dropdown-item" href="#!info">
                                <i class="fe fe-user me-2"></i>Thông tin tài khoản
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#!changepass">
                                <i class="fe fe-user me-2"></i>Đổi mật khẩu
                            </a>
                        </li>
                    </ul>
                    <div class="dropdown-divider"></div>
                    <ul class="list-unstyled">
                        <li>
                            <a class="dropdown-item" href="../index.html">
                                <i class="fe fe-power me-2"></i>Đăng xuất
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </div>
        <button class="navbar-toggler pe-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="fixed-bottom p-2 d-flex justify-content-end" style="bottom: 10%;">
    <button ng-click="setTheme()" type="button" class="btn btn-primary me-2">
        <i id="icon_theme" class="bi bi-brightness-high"></i>
    </button>
</div>