<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#!khoahoc" id="#top" style="text-decoration: none;"
                class="text-primary">Khóa học</a>
        </li>
        <li class="breadcrumb-item"><a href="#!khoahoc/{{id_khoahoc}}" id="#top" style="text-decoration: none;"
                class="text-primary">{{id_khoahoc}}</a>
        </li>
        <li class="breadcrumb-item"><a href="#!khoahoc/{{id_khoahoc}}/{{ctmonhoc.id}}" id="#top"
                style="text-decoration: none;" class="text-primary">{{name_monhoc}}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Trắc nghiệm</li>
    </ol>
</nav>

<!-- bài trang bắt đầu -->
<div class="card mt-4" ng-show="status_start">
    <div class="card-body p-10 " style="padding-top: 30px !important;">
        <div class="text-center">
            <img src="/assets/img/Formula-amico.svg" alt="survey" class="img-fluid">
            <div class="px-lg-18">
                <h1>Chào mừng bạn</h1>
                <button type="button" ng-click="startQuiz()" class="btn btn-primary mt-4">Bắt đầu làm bài</button>
            </div>
        </div>
    </div>
</div>

<!-- bài quiz -->
<div class="card mb-4 mt-4" ng-show="quiz">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center border-bottom pb-3 mb-3">
            <div class="d-flex align-items-center">
                <a href="#"> <img width="100" loading="lazy" src="/assets/img/course/course-javascript.jpg" alt="course"
                        class="rounded"></a>
                <div class="ms-3">
                    <h3 class="mb-0"><a href="#" class="text-inherit">Câu hỏi về javascript</a></h3>
                </div>
            </div>
            <div>
                <span class="text-danger"><i class="fe fe-clock me-1 align-middle"></i>
                    Kết thúc sau ({{minutes}}:{{seconds}})</span>
            </div>
        </div>
        <div class="mt-3">
            <div class="d-flex justify-content-between">
                <span>Tiến độ</span>
                <span>Câu hỏi {{cau_hien_tai + 1}} trên {{tong_cau_hoi}}</span>
            </div>
            <div class="mt-2">
                <div class="progress" style="height: 6px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: {{tien_do}}% !important"
                        aria-valuenow="{{tien_do}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="mt-2" ng-repeat="ch in data_ch" ng-init="number = $index +1">
            <div ng-show="number == cau_hien_tai + 1">
                <span>Câu {{number}}: </span>
                <h4 class="mb-3 mt-1 fw-bold">{{ch.Text}}</h4>
                <div class="list-group">
                    <div ng-repeat="dn in ch.Answers" class="list-group-item list-group-item-action"
                        aria-current="true">
                        <div class="form-check">
                            <input class="form-check-input cauhoi_ne" type="radio" name="{{ch.AnswerId}}" id="{{dn.Id}}"
                                value="quiz">
                            <label class="form-check-label stretched-link" for="{{dn.Id}}">{{dn.Text}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-3 d-flex justify-content-between">
        <button class="btn btn-primary" ng-click="prev()">
            <i class="bi bi-arrow-left"></i> Câu trước đó
        </button>
        <button class="btn btn-success" ng-click="show_result('btn')">
            Nộp bài
        </button>
        <button class="btn btn-primary" ng-click="next()">
            Câu tiếp theo <i class="bi bi-arrow-right"></i>
        </button>
    </div>
</div>

<!-- kêt quả -->
<div class="card mt-4" ng-show="result">
    <div style="padding: 4.5rem; " class="card-body p-10 text-center">
        <div class="mb-4 ">
            <h2>🎉Xin chúc mừng. bạn đã hoàn thành!</h2>
            <p class="mb-0 px-lg-14">Bạn đã hoàn thành bài kiểm tra thành công. Bây giờ bạn bấm vào kết thúc và
                quay lại trang bài kiểm tra của bạn.</p>
        </div>
        <div class="d-flex justify-content-center">
            <img src="https://ui-avatars.com/api/?background=random&name=vu+do" alt="">
        </div>
        <div class="mt-3">
            <span>Điểm của bạn: <span>{{diem}} (Đúng {{so_cau_dung}} trên {{tong_cau_hoi}})</span></span><br>
            <span class="mt-2 d-block">Điểm tối thiểu : <span>80%</span></span>
        </div>
        <div class="mt-5">
            <button class="btn btn-primary" onclick="window.location.reload()">Làm lại ngay</button>
            <a href="#!khoahoc/{{id_khoahoc}}/{{ctmonhoc.Id | lowercase}}" class="btn btn-success">Hoàn thành</a>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                data-bs-target="#exampleModalScrollable">
                Xem đáp án
            </button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalScrollableTitle">Đáp án trắc nghiệm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-start" ng-init="check = true">
                            <div class="mt-2 mb-2" ng-repeat="ch in data_ch">
                                <span>Câu {{$index + 1}}: </span>
                                <h4 class="mb-3 mt-1 fw-bold">{{ch.Text}}</h4>
                                <div class="list-group">
                                    <div class="list-group-item list-group-item-action" aria-current="true" ng-repeat="dn in ch.Answers">
                                        <div class="form-check">
                                            <input class="form-check-input cauhoi_ne" type="radio" ng-checked="ch.AnswerId == dn.Id && check"
                                                name="{{ch.AnswerId}}" id="{{dn.Id}}" value="ketqua" ng-disabled="ch.AnswerId !== dn.Id && check">
                                            <label class="form-check-label stretched-link" for="{{dn.Id}}">{{dn.Text}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>