<style>
    nav {
        display: none !important;
    }

    footer {
        display: none !important;
    }
</style>

<section class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
        <div class="col-lg-5 col-md-8 py-3 py-xl-0">
            <!-- Card -->
            <div class="card shadow" style="border-radius: 20px; border: none;">
                <!-- Card body -->
                <div class="card-body p-6" style="padding: 2.5rem;">
                    <div class="mb-4">
                        <h1 class="mb-1 fw-bold">Đăng ký</h1>
                        <span>Bạn đã có tài khoản? <a href="#!login" class="ms-1 text-primary">Đăng nhập
                                ngay</a></span>
                    </div>
                    <!-- Form -->
                    <form name="registerForm" ng-submit="registerForm.$valid && register()">
                        <!-- tên -->
                        <div class="mb-3">
                            <label for="fullname" class="form-label">Họ & tên</label>
                            <input ng-model="fullname" type="text" id="fullname" class="form-control" name="fullname"
                                placeholder="Nhập fullname của bạn tại đây" required >
                            <div class="text-danger" ng-show="registerForm.fullname.$dirty && registerForm.fullname.$invalid">
                                <span ng-show="registerForm.fullname.$error.required">Họ & tên là bắt buộc</span>
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input ng-model="email" type="email" id="email" class="form-control" name="email"
                                placeholder="Nhập email của bạn tại đây" required>
                            <div class="text-danger" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
                                <span ng-show="registerForm.email.$error.required">Email là bắt buộc</span>
                                <span ng-show="registerForm.email.$error.email">Email không hợp lệ</span>
                            </div>
                        </div>

                        <!-- Username -->
                        <div class="mb-3">
                            <label for="username" class="form-label">Tên đăng nhập</label>
                            <input ng-model="username" type="text" id="username" name="username" class="form-control"
                                placeholder="Nhập tên đăng nhập" required ng-pattern="/^[a-zA-Z0-9]*$/" />
                            <div class="text-danger"
                                ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
                                <span ng-show="registerForm.username.$error.required">Tên đăng nhập là bắt buộc</span>
                                <span ng-show="registerForm.username.$error.pattern">Chỉ
                                    chấp nhận ký tự chữ và số</span>
                            </div>
                        </div>

                        <!-- Password -->
                        <div class="mb-3">
                            <label for="password" class="form-label">Mật khẩu</label>
                            <input ng-model="password" type="password" id="password" class="form-control"
                                name="password" placeholder="**************" required minlength="4">
                            <div class="text-danger"
                                ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
                                <span ng-show="registerForm.password.$error.required">Mật khẩu là bắt buộc</span>
                                <span ng-show="registerForm.password.$error.minlength">Mật khẩu quá ngắn</span>
                            </div>
                        </div>

                        <!-- Confirm Password -->
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Mật khẩu xác nhận</label>
                            <input ng-model="confirmPassword" type="password" id="confirmPassword" class="form-control"
                                name="confirmPassword" placeholder="**************" required minlength="4"
                                ng-pattern="password">
                            <div class="text-danger"
                                ng-show="registerForm.confirmPassword.$dirty && registerForm.confirmPassword.$invalid">
                                <span ng-show="registerForm.confirmPassword.$error.required">Mật khẩu là bắt buộc</span>
                                <span ng-show="registerForm.confirmPassword.$error.minlength">Mật khẩu quá ngắn</span>
                                <span ng-show="registerForm.confirmPassword.$error.pattern">Mật khẩu nhập lại không
                                    chính xác</span>
                            </div>
                        </div>

                        <!-- Checkbox -->
                        <div class="d-lg-flex justify-content-between align-items-center mb-4">
                            <div class="form-check">
                                <input ng-model="confirm_web" type="checkbox" class="form-check-input" id="agreeCheck">
                                <label class="form-check-label" for="agreeCheck">
                                    <span style="font-size: 14px;"> Tôi đồng ý với
                                        <a class="text-primary" href="">
                                            Điều khoản dịch vụ
                                        </a>
                                        và
                                        <a class="text-primary" href="">
                                            Chính sách quyền riêng tư.
                                        </a>
                                    </span>
                                </label>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Đăng ký</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>