@keyframes opacity_cus {
    from {
        opacity: 0;
        margin: 0;
    } to {
        opacity: 1;
        margin: 20px;
    }
}


.header_cus {
    box-shadow: 0 2px 3px rgba(17,24,39,.09);
}

.header_cus_fixed {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed !important;
    top: 0;
    transition: .3s ease-in-out;
    animation: opacity_cus .3s ease-in-out;
    margin: 20px;
    border-radius: 16px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
    height: 80px;
    margin-bottom: 20px;
    transition: .3s ease-in-out;
    animation: opacity_cus .3s ease-in-out;
}

.login_btn {
    border-radius: 50px;
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
} 
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}
.navbar-toggler:active .btn-close:active {
    box-shadow: none;
    outline: none;
}

.navbar .nav-link {
    font-weight: 500 !important;
    position: relative;
}

.dropdown-menu.vd_cus {
    left: -100px;
    padding: 0;
    
} 
.navbar .navbar-toggler {
    border: none !important; 
    margin-left: .5rem;
    padding: .5rem;
}
@media (min-width: 911px) {
    .navbar .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 3px;
        background-color:#754ffe;
        border-radius: 50px;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link.active::before {
        width: 100%;
    }

    
    
}

